<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Cas App</title>
</head>
<body>
  <h1>Welcome to the Cars app!</h1>
    <h2>An app for collecting your favorite cars.</h2>

     <img
     class="car-sparkle-pic"
     src="https://cdn-icons-png.flaticon.com/256/6917/6917257.png"
     alt="car with sparkle icons"
   />
        <a href="/cars">Browse Cars</a>
        <a href="/cars/new">Add New Car</a>

</body>
 <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>

</html>