<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cars Catalog</title>
  </head>
  <body>
    <h1>Cars Catalog</h1>
     <a href="/cars/new">Add New Car</a>

    <ul>
      <% cars.forEach(car => { %>
      <li><a href="/cars/<%= car._id %>"><%= car.make + " " + car.model + ", Nickname: " + car.nickname %></a></li>
        <% }); %>
  </ul>
<a href="/">Back to home</a>

  </body>
</html>
