<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cars Catalog</title>
  </head>
  <body>
    <div class="index-header-div">
      <h1>Cars Catalog</h1>
      <a class="add-car" href="/cars/new">  
        Add Car
      </a>
    </div>

    <ul>
      <% cars.forEach(car => { %>
      <li>
        <a class="car-cards" href="/cars/<%= car._id %>"><%= car.make + " " + car.model %>
        </a>
      </li>
      <% }); %>
  </ul>
    <a class="cars-catalog-link" href="/">  
      <div class="catalog-link-text">Back to home</div>
    </a>
  </body>
</html>
